{% extends 'base.html' %}
{% load final_filter %}
{% block content %}
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">-->

<div class="container my-3">
    <table class="table">
        <thead>
<!--        <tr class="table-dark">-->
<!--            <th>번호</th>-->
<!--            <th>제목</th>-->
<!--            <th>작성일시</th>-->
<!--        </tr>-->
        </thead>
        <tbody>
        <h1>opencv.html</h1>
        </tbody>
    </table>
    <a href="{% url 'final:diary' %}" class="btn btn-primary">일기쓰기</a>
    <a href="{% url 'final:copy' %}" class="btn btn-primary">받아쓰기</a>
    <a href="{% url 'final:opencv' %}" class="btn btn-primary">OPEN CV</a>
</div>
<div><a href="{% url 'final:hand' %}" class="btn btn-primary">포즈 게임</a></div>
<div><a href="{% url 'final:camera_view' %}" class="btn btn-primary">webcam</a></div>
<div><a href="{% url 'final:robot' %}" class="btn btn-primary"> 화면 캡쳐</a></div>
{% endblock %}