<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg"
                                                                          alt="Close modal"/></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="text-uppercase">같이 즐겨요</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/4.jpg"
                                     alt="..."/>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/4.jpg"
                                     alt="..."/>
                            </div>
                        </div>


                        <div class="modal-body">
                            {% if user.is_authenticated %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'main:camera_view' %}">
                                            <button class="btn btn-primary btn-xl text-uppercase">👴포즈 맞추기👵
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'main:robot' %}">
                                            <button class="btn btn-primary btn-xl text-uppercase">로보트와 가위바위보 ✌️✊✋
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>
                            <p>포즈 맞추기</p>
                            <p>로보트랑 가위바위보</p>
                            <p>ㅂㅂㅂ</p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>