{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'main_page.css' %}">
    <div style="position: fixed; top: 150px; left: 90px; font-size: 50px" ><a href="{% url 'main:diary_create' %}" class="btn btn--stripe">오늘의 일기</a></div>
    <div style="position: fixed; top: 150px; left: 610px; font-size: 50px" ><a class="btn btn--stripe">단어 퀴즈</a></div>
    <div style="position: fixed; top: 320px; left: 650px; font-size: 30px" ><a href="{% url 'main:word_create_f' %}" class="btn btn--radius">🍈과일🍇</a></div>
    <div style="position: fixed; top: 420px; left: 650px; font-size: 30px" ><a href="{% url 'main:word_create_a' %}" class="btn btn--radius">🐕‍🦺동물🐘</a></div>
    <div style="position: fixed; top: 520px; left: 650px; font-size: 30px" ><a href="{% url 'main:word_create_p' %}" class="btn btn--radius">🍀식물🌸</a></div>
    <div style="position: fixed; top: 150px; left: 1070px; font-size: 50px "><a class="btn btn--stripe">같이 즐겨요</a></div>
    <div style="position: fixed; top: 320px; left: 1100px; font-size: 25px" ><a href="{% url 'main:pose' %}" class="btn btn--radius">🙋‍♀포즈 따라하기🙋‍♂️️</a></div>
    <div style="position: fixed; top: 420px; left: 1110px; font-size: 25px" ><a href="{% url 'main:camera_view' %}" class="btn btn--radius">👴포즈 맞추기👵</a></div>
    <div style="position: fixed; top: 520px; left: 1070px; font-size: 25px" ><a href="{% url 'main:robot' %}" class="btn btn--radius">로보트와 가위바위보 ✌️✊✋</a></div>
    <div style="position: fixed; top: 450px; left: 90px; font-size: 50px"><a href="{% url 'main:mypage_calender' %}" class="btn btn--stripe">지난 기억</a></div>
{% endblock %}
