{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'testcss.css' %}">


  <a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
  </a>
<form method="post" action="{% url 'common:login' %}">
            {% csrf_token %}
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                  <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                  <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Log In</h4>
                      <div class="form-group">
<!--                        <input type="email" name="username" class="form-style" placeholder="Your Email" id="username" autocomplete="off">-->
                            <input type="text" class="form-control" name="username" id="username"
                             value="{{ form.username.value|default_if_none:'' }}">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
<!--                        <input type="password" name="password" class="form-style" placeholder="Your Password" id="password" autocomplete="off">-->
                                      <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
<!--                      <a href="#" class="btn mt-4">submit</a>-->
                        <button type="submit" class="btn btn-primary">로그인</button>
                                    <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</form>>