{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">-->

<div class="container my-3">
    <table class="table">
        <thead>
<!--        <tr class="table-dark">-->
<!--            <th>번호</th>-->
<!--            <th>제목</th>-->
<!--            <th>작성일시</th>-->
<!--        </tr>-->
        </thead>
        <tbody>
        <h1>main_page.html</h1>
        </tbody>
    </table>
    <a href="{% url 'final:diary_create' %}" class="btn btn-primary">일기쓰기</a>
    <a href="{% url 'final:theme' %}" class="btn btn-primary">받아쓰기</a>
    <a href="{% url 'final:opencv' %}" class="btn btn-primary">OPEN CV</a>
    <a href="{% url 'final:mypage_calender' %}" class="btn btn-primary">감정분석</a>
</div>
{% endblock %}