{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="number">본인 연락처</label>
            <input type="text" class="form-control" name="number" id="number"
                   value="{{ form.f_HP.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="family">보호자 관계</label>
            <input type="text" class="form-control" name="family" id="family"
                   value="{{ form.family.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="phone">보호자 연락처</label>
            <input type="text" class="form-control" name="phone" id="phone"
                   value="{{ form.f_HP.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}