{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>일기 페이지</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR:wght@100;300;700&display=swap');
    </style>
    <script type="text/javascript">
        window.onload = function(){
            const ctx_top = document.getElementById("canvas_top").getContext("2d");
            const ctx = document.getElementById("jsCanvas").getContext("2d");
            var img = new Image();
            img.src = "{{trans.url_html}}";
            img.onload = function(){
                ctx.drawImage(img, 0,0, 1210, 1210);
            }

            let str = "{{ trans.model_text }}";
            let arr = str.split("");
            var x = 30;
            var y = 30;

            ctx_top.font = "90px Gamja Flower";
            ctx_top.textBaseline = "top";
            ctx_top.fillStyle = "black";
            ctx_top.textAlign = "left";
            for(let i = 0; i < arr.length; i++){
                if(i == 10){y = y+120; x = 30;}
                if(i == 20){y = y+120; x = 30;}
                if(i == 30){y = y+120; x = 30;}
                if(i == 40){y = y+120; x = 30;}
                if(i == 50){y = y+120; x = 30;}
                if(i == 60){y = y+120; x = 30;}
                if(i == 70){y = y+120; x = 30;}
                if(i == 80){y = y+120; x = 30;}
                if(i == 90){y = y+120; x = 30;}
                ctx_top.fillText(arr[i],x,y);
                x = x+120;
            }
        }

        function downScroll() {
            var winY = window.pageYOffset;
            window.scrollTo({top:winY+300, behavior: 'smooth'});
            console.log(winY);
        }

        function upScroll() {
            var winY = window.pageYOffset;
            window.scrollTo({top:winY-300, behavior: 'smooth'});
            console.log(winY);
        }
    </script>
</head>
<body>
<div class="container">
    <input id="upbtn" class="btn btn-primary" style="color:black;" type="button" value="올려보기" onclick="upScroll()">
    <input id="downbtn" class="btn btn-primary" style="color:black;" type="button" value="일기 더 쓰기" onclick="downScroll()">
    <div><a id="jsSave" class="btn btn-primary analbtn" style="color:black; line-height: 30px;" href="{% url 'final:word_trans' %}" >분석하기</a></div>
    <div class="controls__colors colbtn">
        <div class="controls__color jsColor" id="jsMode" style="background-color: black; float: left; display:none" ></div>
        <div class="controls__color jsColor" id="jsMode1" style="background-color: white; float: left;"></div>
    </div>
<!--    <div class="controls__btns" id="fillbtn">-->
<!--&lt;!&ndash;        <button id="jsMode">Fill</button>&ndash;&gt;-->
<!--        <button id="">Save</button>-->
<!--    </div>-->
<!--    <a href="{% url 'final:word_trans' %}" id="analbtn">분석 버튼</a>-->

    <h1 class="my-3 border-bottom pb-2">분석 결과 : {{ trans.model_text }}{{senti}}</h1>
    <h5 class="my-3 border-bottom pb-2">오늘의 일기 </h5>
<!--    <div class="card-text" style="white-space: pre-line;"></div>-->

    <canvas id="jsCanvas" class="canvas"></canvas>
    <canvas id="canvas_top" class="canvas_top"></canvas>
<!--<img src="{{trans.url_html}}">-->
<!--        <div class="controls">-->

<!--        <div class="controls__range">-->
<!--            <input type="range" id="jsRange" min="0.1" max="5.0" value="2.5" step="0.1"/>-->
<!--        </div>-->
<!--        <div class="controls__btns">-->
<!--            <button id="jsMode">Fill</button>-->
<!--            <button id="jsSave">Save</button>-->
<!--        </div>-->
<!--        <div class="controls__colors" id="jsColors" position="relative">-->
<!--            <div class="controls__color jsColor" position="relative" style="background-color: black;"></div>-->
<!--            <div class="controls__color jsColor" position="relative" style="background-color: white;"></div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
<script src="{% static 'app.js' %}"></script>
<!--<div><a href="{% url 'final:word_trans' %}" class="btn btn-primary">분석 버튼</a></div>-->
</html>

{% endblock %}