{% extends 'base1.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="style_word" type="text/css" href="/static/style_word.css">
    <title>eksdj 페이지</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR:wght@100;300;700&display=swap');
    </style>
    <script type="text/javascript">
<!--        window.onload = function(){-->
<!--            var ctx = document.getElementById("jsCanvas").getContext("2d");-->

<!--            ctx.font = "bold 200px verdana";-->
<!--            ctx.textBaseline = "top";-->
<!--            ctx.fillStyle = "rgba(0,0,255,1)";-->
<!--            ctx.textAlign = "left";-->
<!--            ctx.fillText("텍스트",50,50);-->

<!--            ctx.font = "300px verdana";-->
<!--            ctx.strokeStyle = "blue";-->
<!--            ctx.strokeText("JavaKing Blog",5,130);-->
        }
    </script>
    <script type="text/javascript">
<!--        window.onload = function(){-->
<!--            const ctx_top = document.getElementById("canvas_top").getContext("2d");-->
<!--            const ctx = document.getElementById("jsCanvas").getContext("2d");-->
<!--            var img = new Image();-->
<!--            img.src = "{{trans.url_html}}";-->
<!--            img.onload = function(){-->
<!--                ctx.drawImage(img, 0,0, 970, 330);-->
<!--            }-->

<!--            let str = "{{ trans.model_text }}";-->
<!--            let arr = str.split("");-->
<!--            var x = 30;-->
<!--            var y = 30;-->

<!--            ctx_top.font = "250px Gamja Flower";-->
<!--            ctx_top.textBaseline = "top";-->
<!--            ctx_top.fillStyle = "black";-->
<!--            ctx_top.textAlign = "left";-->
<!--            for(let i = 0; i < arr.length; i++){-->
<!--                ctx_top.fillText(arr[i],x,y);-->
<!--                x = x+350;-->
<!--            }-->
<!--        }-->
        function downScroll() {
        var winY = window.pageYOffset;
        window.scrollTo({top:winY+300, behavior: 'smooth'});
        console.log(winY);
        }

        function upScroll() {
            var winY = window.pageYOffset;
            window.scrollTo({top:winY-300, behavior: 'smooth'});
            console.log(winY);
        }
    </script>

</head>
<body>
<div class="container">
    <input id="upbtn" class="btn btn-primary" style="color:black;" type="button" value="올려보기" onclick="upScroll()">
    <input id="downbtn" class="btn btn-primary" style="color:black;" type="button" value="일기 더 쓰기" onclick="downScroll()">
    <div><a id="themebtn1" class="btn btn-primary" style="color:black; line-height: 30px;" href="{% url 'final:word_create_f' %}" >과일테마</a>
    <div><a id="themebtn2" class="btn btn-primary" style="color:black; line-height: 30px;" href="{% url 'final:word_create_a' %}" >동물테마</a>
    <div><a id="themebtn3" class="btn btn-primary" style="color:black; line-height: 30px;" href="{% url 'final:word_create_p' %}" >식물테마</a>
    <div><a id="themebtn4" class="btn btn-primary" style="color:black; line-height: 30px;" href="{% url 'final:word_create_v' %}" >교통테마</a>
    <div><a id="jsSave" class="btn btn-primary analbtn" style="color:black; line-height: 30px;" href="{% url 'final:word_test' %}" >분석하기</a>
    <div><a class="btn btn-primary resultbtn" style="color:black; line-height: 30px;" >결과보기</a>
    </div>

    <div class="controls__colors colbtn">
        <div class="controls__color jsColor" id="jsMode" style="background-color: black; float: left; display:none"></div>
        <div class="controls__color jsColor" id="jsMode1" style="background-color: white; float: left;"></div>
    </div>
    <h5 class="my-3 border-bottom pb-2">오늘의 일기 // word_test.html // 이전페이지 분석 결과 : {{ trans.model_text }}</h5>
    <h5 class="my-3 border-bottom pb-2">랜덤 정답 : {{tex}} // 랜덤 초성 : {{cho}}</h5>
    <p class="jsAnal" style="font-size: 50px">{{result}}</p>
    <canvas id="jsCanvas" class="canvas"></canvas>
    <canvas id="canvas_top" class="canvas_top"></canvas>

<!--        <div class="controls">-->

<!--        <div class="controls__btns">-->
<!--            <button id="jsMode">Fill</button>-->
<!--            <button id="jsSave">저장하기</button>-->
<!--            <button id="jsReloadX" >새로고침 안함 분석하기</button>-->
<!--&lt;!&ndash;            <button id="jsReloadX" >새로고침 안함 분석하기</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="C:\python__\Final\test_data\" download><button id="jsSave">Save</button></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" onclick="location.href='C:\python__\Final\test_data\asd.png'">Save</button></a>&ndash;&gt;-->

<!--        </div>-->
<!--        <div class="controls__colors" id="jsColors" position="relative">-->
<!--            <div class="controls__color jsColor" position="relative" style="background-color: black;"></div>-->
<!--            <div class="controls__color jsColor" position="relative" style="background-color: white;"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>

<!--    <div><a href="{% url 'final:word_trans' %}" class="btn btn-primary">분석 버튼</a></div>-->
<script src="{% static 'app_word.js' %}"></script>
<!--<div><a href="{% url 'final:word_trans' %}" class="btn btn-primary">분석 버튼</a></div>-->

</html>

{% endblock %}